{% extends "layout.html" %}

{% block title %}

    About

{% endblock %}

{% block main %}

<body class="bluebackground">

<h2 style="font-family:luminari">About</h2>
<p></p>

<p> Chorelog is my final project for the Introduction to Computer Science course run by Harvard University, available through edX <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">cs50</a>. </p>

<p>Chorelog lets you set up a house profile so that you can log chores for that house: the types of chores, the date that they were done, the time since they were last done. </p>



</body>

{% endblock %}