{% extends "layout.html" %}

{% block title %}
    Regcode
{% endblock %}

{% block main %}

<body class="bluebackground">

<p>!!** Andrew - dont forget that the app crashes when you enter the reg code. However, it does actually successfully create the house profile database. It seems that because the database takes a little while to create it causes the app to hang and then crash. However, the new table is successfully created and is noted as such.  You will need to fix this error.**!!</p>
<p> To sign up, you need to wait until the table is created, and then refresh the regcode page. This will then allow you to enter the regcode and sign up a new user</p>


    <form action="/regcode" method="post">
        <h2>Registration code</h2>
        <p>Please enter your registration code.</p>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="regcode" name="regcode" placeholder="Registration Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


    

</body>
{% endblock %}
