{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}

<body class="bluebackground">

    <form action="/signup" method="post">
        <h2>Sign up</h2>
        <br>

        <p>Thank you for signing up with Chore Log. </p>

        <br>
        <br>

        <h4>Creating a house profile</h4>

        <br>

        <p>Please enter a name for your house in the address box. Street addresses are the obvious choice, but a nickname is fine too.</p>
        <p>A unique house profile will be created. A registration code will be emailed that will let you create a user account linked to your house.</p>
        <p>If you live with others you can share the registration code so that they can also log their chores.</p>
        <p>If a house profile <b>has already been set up</b> you do not need to sign up for a new one. Please use the registration code that has already been issued to create your user account at <a href="/regcode">https://chorelog.onrender.com/regcode</a></p>

        <br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="address" name="address" placeholder="address" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <br>
    <p>Your email address is used to send your registration code but will not be stored until you register a user account</p>

</body>
{% endblock %}
