{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h2>INDEX</h2>

    <table class="table table-striped">
        <thead>
        </thead>

        <tbody>
            {% if alert == "bought"-%}
            <div class="alert alert-primary" role="alert">
            Bought!
            {% elif alert == "sold"-%}
            <div class="alert alert-primary" role="alert">
            Sold!

            {% elif alert == "addcash"-%}
            <div class="alert alert-primary" role="alert">
            Added Cash!

            {% else -%}
            <div class="alert alert-light" role="alert">
            </div>

            {% endif %}
            <tr>
                <th> Stocks </th>
                <th> Symbol </th>
                <th> Number of shares owned</th>
                <th> Current Price </th>
                <th> Value of Each holding</th>
                <th> Buy / Sell </th>

            </tr>

            {% for i in index %}

            <tr>

                <td>  {{ i.stock }}</td>
                <td>  {{ i.symbol }} </td>
                <td>  {{ (i.sum_sharesbought - i.sum_sharessold) }}</td>
                <td>  {{ i.price | usd }}  </td>
                <td>  {{ ((i.price) * (i.sum_sharesbought - i.sum_sharessold)) | usd  }} </td>
                <td>
                    <div class="mb-3">
                        <form method="post">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sharesnumber" name="symbol" readonly="readonly" value="{{i.symbol}}" type="hidden" >
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sharesnumber" name="shares" placeholder="Enter number of shares" type="text">
                                <button formaction="/buy" class="btn btn-primary" type="submit">Buy!</button>
                                <button formaction="/sell" class="btn btn-primary" type="submit">Sell!</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Current Cash Balance</th> <td>{{ cash | usd}} </td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Grand Total (Cash + Shares)</th> <td>{{ grandtotal | usd }} </td>
                <td></td>

            </tr>
        </tbody>
    </table>

{% endblock %}